---
layout: default
title: Asmita Dahal | Portfolio
---
<div class="post-feed">
  {% for work in site.works %}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ work.url | relative_url }}" rel="bookmark">{{ work.name }}</a></h2>
      <div class="post-meta">{{ work.location }}</div>
    </header><!-- .post-header -->
    {% if work.thumbnail %}
    <a class="post-thumbnail" href="{{ work.url | relative_url }}">
      <img class="thumbnail" src="{{ work.thumbnail | relative_url }}" alt="{{ work.name }}" />
    </a>
    {% endif %}
    <div class="post-content">
      <p>{{ work.approach }}</p>
    </div><!-- .post-content -->
    <p class="read-more">
      <a class="read-more-link" href="{{ work.url | relative_url }}">Learn More<span class="icon-arrow-right" aria-hidden="true"></span></a>
    </p>
  </article><!-- .post -->
  {% endfor %}
</div><!-- .post-feed -->