<nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
  <div class="site-nav-wrap">
    <div class="site-nav-inside">
      <ul class="menu">
        {% for item in site.data.navigation %}
          {% assign pageUrl = page.url | trim('/') %}
          {% assign itemUrl = item.url | trim('/') %}
          <li class="menu-item" {% if pageUrl == itemUrl %} class="current-menu-item" {% endif %}>
            <a href="{{ item.url | relative_url }}"{% if item.new_window %} target="_blank" rel="noopener"{% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="social-links">
        {% for item in site.data.social_sites %}
        <a class="button-circle" href="{{ item.url | relative_url }}"{% if item.new_window %} target="_blank" rel="noopener"{% endif %}>
          <span class="fab {{ item.icon_class }}" aria-hidden="true"></span><span class="screen-reader-text">{{ item.label }}</span>
        </a>
    	</div>
        {% endfor %}
      </div> <!-- .social-links -->
    </div><!-- .site-nav-inside -->
  </div><!-- .site-nav-wrap -->
</nav><!-- .site-navigation -->
<button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu" aria-hidden="true"></span></button>

