<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/styles.css"/>
  </head>

  <body>
  	<div id="page" class="site palette-yellow">
  		<header id="masthead" class="site-header">
		  <div id="header-bg" class="site-header-bg" style="background-image:url('{{ site.data.all.background_img | relative_url }}')"></div>
		  <div class="site-header-scroll">
		    <div class="site-header-inside">
		      <div class="site-header-vertical">
				{% include branding.html %}
		        {% include navigation.html %}
		      </div><!-- .site-header-vertical -->
		    </div><!-- .site-header-inside -->
		  </div><!-- .site-header-scroll -->
		</header><!-- .site-header -->
	
		<div id="content" class="site-content">
			<main id="main" class="site-main inner">
				{{content}}
			</main>

			<footer id="colophon" class="site-footer inner">
				<div class="site-footer-inside">
				  <span class="copyright">{{ site.data.all.footer | safe }}</span>
				</div><!-- .site-footer-inside -->
				<a id="to-top" class="to-top" href="#page">To top <span class="icon-arrow-up" aria-hidden="true"></span></a>
			  </footer><!-- .site-footer -->
		</div>
	</div>

    <!-- Scripts -->
	<script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
	<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
